body {
    
}
.background {
    background-image: url(../foto/pagrindine\ foto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    height: 100vh;

}
.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
    .container > .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: #027BBD;
        background-image: url(../foto/pagrindine\ foto.png);
        background-size: cover;
        background-position: right;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;

    }
        .left > .nuotrauka {
            width: 100%;
        }
        .left > .sign {
            position: absolute;
            top: 50px;
            left: 45px;
            font-size: 45px;
            color: white;
            width: 80%;
            
        }
        .left > .footer {
            position: absolute;
            bottom: 49px;
            left: 35px;
            font-size: 18px;
            color: #DEC0FF;
            text-decoration: none;
        }
            .footer > .privacy {
            color: #DEC0FF;
            text-decoration: none;
            }
            .footer > .zenklas {

            }
            .footer > .terms {
                color: #DEC0FF;
                text-decoration: none;
            }
    .container > .right {
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: right;
        background-color: white;
        position: relative;
    }
        .close {
            display: inline-block;
            width: 80px;
            height: 80px;

            position: absolute;
            top: 0;
            right: 0;
        }
            .close > .line {
                display: inline-block;
                width: 40px;
                height: 2px;
                background-color: #888;
                position: absolute;
            }
            .close > .line:first-of-type {
                transform: rotate(45deg);
                top: 24px;
                left: 31px;
                transform-origin: top left;
            }
            .close > .line:last-of-type {
                transform: rotate(-45deg);
                transform-origin: bottom left;
                top: 52px;
                left: 30px;
            }
        .form span,
        .form a {
            display: inline-block;
            padding: 10px;
            float: left;
            font-size: 17px;
            line-height: 20px;
        }
        .form span {
            margin-left: 10px;
        }
        .form a {
            color: #005DD8;
            text-decoration: none;
            font-weight: bold;
        }

@media (max-width: 900px) {
    .container {
        width: 700px;
    }
        .container > .left {
            display: inline-block;
            width: 30%;
        }
        .container > .right {
            display: inline-block;
            width: 70%;
        }
}
@media (max-width: 750px) {
    .container {
        width: 500px;
    }
    .container > .left {
        display: inline-block;
        width: 0%;
    }
    .container > .right {
        display: inline-block;
        width: 100%;
    }
}
@media (max-width: 550px) {
    .container {
        width: 300px;
    }
        .container > .left {
            display: inline-block;
            width: 0%;
        }
        .container > .right {
            display: inline-block;
            width: 100%;
        }
}